In [4]:
# test lab 

import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print(s)
print("Axes are:",s.axes)

0   -1.010610
1   -0.077079
2    1.600636
3    0.998399
dtype: float64
Axes are: [RangeIndex(start=0, stop=4, step=1)]

In [5]:
dict = {"Student": ["Pranav", "Nameet","Nadeem", "Sahil"],"Marks": [85, 92, 78, 83]}
df = pd.DataFrame(dict, index=['I', 'II', 'III', 'IV'])
print(df)
print("Axes are: ", df.axes)

    Student  Marks
I    Pranav     85
II   Nameet     92
III  Nadeem     78
IV    Sahil     83
Axes are:  [Index(['I', 'II', 'III', 'IV'], dtype='object'), Index(['Student', 'Marks'], dtype='object')]

In [4]:
df[df.Student=='Pranav']

  Student  Marks
I  Pranav     85

In [11]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'C': [5, 6], 'D': [7, 8]})

# Combine columns
result = pd.concat([df1, df2], axis=1)

df3 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df4 = pd.DataFrame({'C': [5, 6], 'D': [7, 8]})
result2 = pd.concat([df3, df4], axis=0, ignore_index=True)
print(result)
print(result2)

   A  B  C  D
0  1  3  5  7
1  2  4  6  8
     A    B    C    D
0  1.0  3.0  NaN  NaN
1  2.0  4.0  NaN  NaN
2  NaN  NaN  5.0  7.0
3  NaN  NaN  6.0  8.0

In [12]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Append rows of df2 to df1
result = df1.append(df2, ignore_index=True)
print(result)

AttributeError: 'DataFrame' object has no attribute 'append'

In [13]:
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

# Merge on the common column 'key'
result = pd.merge(df1, df2, on='key')
print(result)

  key  value1  value2
0   A       1       4
1   B       2       5

In [16]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 2, 4],
    'B': ['x', 'y', 'y', 'z']
})

# Check for duplicated rows
duplicates = df.duplicated()
print(duplicates)
df

0    False
1    False
2     True
3    False
dtype: bool

   A  B
0  1  x
1  2  y
2  2  y
3  4  z

In [21]:
import pandas as pd

ratings = pd.DataFrame({
    'user': [1, 2, 2, 3],
    'rating': [5, 4, 4, 3]
})

print(ratings)
print(ratings.duplicated())
# Remove duplicate rows
ratings_cleaned = ratings.drop_duplicates()
print(ratings_cleaned)

   user  rating
0     1       5
1     2       4
2     2       4
3     3       3
0    False
1    False
2     True
3    False
dtype: bool
   user  rating
0     1       5
1     2       4
3     3       3

In [22]:
import pandas as pd

ratings = pd.DataFrame({
    'user': [1, 2, 2, 3],
    'rating': [5, 4, 4, 3]
})

# Detect duplicates
duplicates = ratings.duplicated()
print(duplicates)

0    False
1    False
2     True
3    False
dtype: bool

In [25]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': ['apple', 'banana', 'apple', 'grape']
})

print(df)

# Replace 'apple' with 'orange' in column B
df_replaced = df.replace('apple', 'orange')
print(df_replaced)

   A       B
0  1   apple
1  2  banana
2  3   apple
3  4   grape
   A       B
0  1  orange
1  2  banana
2  3  orange
3  4   grape