In [ ]:
#Question 1
import numpy as np
import pandas as pd
x = [13,-5,7,19]
s = pd.Series(x)
print(s)

0    13
1    -5
2     7
3    19
dtype: int64

In [ ]:
arr = np.array([23,3.0,7,11])
s1 = pd.Series(arr,index=['a','b','c','d'])
print(s1)

a    23.0
b     3.0
c     7.0
d    11.0
dtype: float64

In [ ]:
s.values

array([13, -5,  7, 19], dtype=int64)

In [ ]:
s1.values

array([23.,  3.,  7., 11.])

In [ ]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
s1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
print(s1['a'])  # Output: 23.0
print(s1['b'])  # Output: 3.0
print(s1['c'])  # Output: 7.0
print(s1['d'])  # Output: 11.0

23.0
3.0
7.0
11.0

In [ ]:
s1['a'] = 56
print(s1['a'])

56.0

In [ ]:
print(s1)

a    56.0
b     3.0
c     7.0
d    11.0
dtype: float64

In [ ]:
#Quetsion 2
data = ['Amit','Bob','Kate','A','b',np.nan,'Car','dog','cat']
s3=pd.Series(data)
print(s3)

0    Amit
1     Bob
2    Kate
3       A
4       b
5     NaN
6     Car
7     dog
8     cat
dtype: object

In [ ]:
print(s3.str.lower())

0    amit
1     bob
2    kate
3       a
4       b
5     NaN
6     car
7     dog
8     cat
dtype: object

In [ ]:
print(s3.str.upper())

0    AMIT
1     BOB
2    KATE
3       A
4       B
5     NaN
6     CAR
7     DOG
8     CAT
dtype: object

In [ ]:
print(s3.str.len())

0    4.0
1    3.0
2    4.0
3    1.0
4    1.0
5    NaN
6    3.0
7    3.0
8    3.0
dtype: float64

In [ ]:
#Question 3
data = ['Arya',' John ',' jack','Sam']
s4 = pd.Series(data)
print(s4)

0      Arya
1     John
2      jack
3       Sam
dtype: object

In [ ]:
print(s4.str.strip()) # removed the extra spaces from the left and right of each string in the Series.

0    Arya
1    John
2    jack
3     Sam
dtype: object

In [ ]:
print(s4.str.lstrip()) # removed the extra spaces from the left side of each string while preserving the spaces on the right side.

0     Arya
1    John
2     jack
3      Sam
dtype: object

In [ ]:
print(s4.str.rstrip()) ## removed the extra spaces from the right side of each string while preserving the spaces on the left side.

0     Arya
1     John
2     jack
3      Sam
dtype: object