In [1]:
import numpy as np
array = np.array([[1,2,3],[5,6,7],[7,9,6]])

In [6]:
result = np.vsplit(array,3)
print(result)

[array([[1, 2, 3]]), array([[5, 6, 7]]), array([[7, 9, 6]])]

In [7]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [8]:
import pandas as pd
import numpy as np

#Numpy ndarrays
array = np.array([1,2,3,4,5])
ser1 = pd.Series(array)
print(ser1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
#creating a series from a dictionary

dict1 = {'a':10,'b':20,'c':30}
ser2 = pd.Series(dict1)
print(ser2)

a    10
b    20
c    30
dtype: int64

In [11]:
#creating series with scalar value

sv = 5
ser3 = pd.Series(sv,index = ['a','b'])
print(ser3)

a    5
b    5
dtype: int64

In [15]:
#Dataframes

#create from list
list1 = [['20kq1a6133','chakresh',20],['20kq1a6133','sujatha',18],['20kq1a6133','jasmin',22]]
df = pd.DataFrame(list1,columns = ['roll_number','Name','Age'])
print(df)

  roll_number      Name  Age
0  20kq1a6133  chakresh   20
1  20kq1a6133   sujatha   18
2  20kq1a6133    jasmin   22

In [13]:
#create from a list of dictionaries

dict2 = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df2 = pd.DataFrame(dict2)
print(df2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [16]:
#Creating from dictionary of series

dict3 = {'one':pd.Series([1,2,3],index = ['a','b','c']),'two':pd.Series([1,2,3,4],index = ['a','b','c','d'])}
df3 = pd.DataFrame(dict3)
print(df3)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [18]:
import pandas as pd

df = pd.read_csv('/content/data.csv')
print(df)

      ID       Value     Name
0   2434   4627128.0      Jia
1     45  53645677.0      Ria
2   7547   6443543.0    Aryan
3    546    343646.0      NaN
4  36456  64353253.0     Maya
5     35    543646.0     John
6    436   3543655.0  Creeper
7  65465         NaN      Jay
8  46456     64677.0     Soni

In [19]:
df3.to_csv('output.csv')

In [22]:
data = [10,20,30,40,50]
index= ['a','b','c','d','e']
ser = pd.Series(data,index)
print(ser)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [23]:
#series properties

#values
print(ser.values)

[10 20 30 40 50]

In [24]:
#index
print(ser.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [25]:
#size
print(ser.size)

5

In [26]:
#shape

print(ser.shape)

(5,)