# Q1. Problem Statement: Creating Pandas Series 
Write a Python program to create two lists - one for countries and another for 
country codes. 
Create a pandas series from these two lists with the codes as the 
index. 
Print the length, shape, and size of the series too

In [12]:
import pandas as pd 
countries = ['Australia', 'Japan', 'Germany', 'France' ]
codes = ['AUS', 'JAP', 'GERM', 'FRA']
s = pd.Series(countries, index=codes)
print(s)
print(s.str.len())
print(f'the Length of the series is : {s.size}')
print(f'the Shape of the series is : {s.shape}')
print(f'the Size of the series is : {s.size}')

AUS     Australia
JAP         Japan
GERM      Germany
FRA        France
dtype: object
AUS     9
JAP     5
GERM    7
FRA     6
dtype: int64
the Length of the series is : 4
the Shape of the series is : (4,)
the Size of the series is : 4

# Q2. Problem Statement: Creating Pandas DataFrame
Write a Python program that reads Name, Age, and Roll no. as input from the 
user and stores it into a DataFrame, and printsthe DataFrame you have created.

In [25]:
import pandas as pd 
data = []

def add_user():
    user = {}
    user['Name'] = input("Enter your name: ")
    user['Age']  = int(input("Enter your age: "))
    user['Roll N°']  = input("Enter your Roll N°: ")
    print(user)
    data.append(user)

while(True):
    opt = int(input("Please select an option\n1 - Enter new user\n2 - Quit\nYour choice: "))
    if opt == 1:
        add_user()
    elif opt == 2: 
        print("Bye :-D")
        break
    else:
        print("Invalid choice!")
        continue
    
    

user_df = pd.DataFrame(data)
user_df

Please select an option
1 - Enter new user
2 - Quit
Your choice:  1
Enter your name:  John
Enter your age:  45
Enter your Roll N°:  12345

{'Name': 'John', 'Age': 45, 'Roll N°': '12345'}

Please select an option
1 - Enter new user
2 - Quit
Your choice:  1
Enter your name:  Smith
Enter your age:  65
Enter your Roll N°:  34567

{'Name': 'Smith', 'Age': 65, 'Roll N°': '34567'}

Please select an option
1 - Enter new user
2 - Quit
Your choice:  1
Enter your name:  Tom
Enter your age:  51
Enter your Roll N°:  231453

{'Name': 'Tom', 'Age': 51, 'Roll N°': '231453'}

Please select an option
1 - Enter new user
2 - Quit
Your choice:  2

Bye :-D

    Name  Age Roll N°
0   John   45   12345
1  Smith   65   34567
2    Tom   51  231453