# Descriptive Statistics
<h2> Case Study: Descriptive Analysis of Super Market Data </h2>

In this case study, you will perform simple descriptive analysis on data.

In [1]:
#Step1: Import the required libraries
import pandas as pd
import numpy as np
import scipy.stats

ModuleNotFoundError: No module named 'scipy'

In [2]:
#Step2: Read data from the uploaded csv file
df = pd.read_csv("supermarket.csv")

In [3]:
#Step3: Display the dataframe
df.head()                            #Use the head method to display the first five rows

       ProductCode              Date  Amount  Received Cash CashierName
0  LBVT18010004435  01-05-2018 12:36  1121.2         1121.2       MAYTE
1  LBVT18010004436  01-05-2018 12:37    18.5           20.0       MAYTE
2  LBVT18010004437  01-05-2018 12:38   160.0          200.0       MAYTE
3  LBVT18010004438  01-05-2018 12:47   397.5          397.5       MAYTE
4  LBVT18010004439  01-05-2018 12:48    22.0           50.0       MAYTE

In [4]:
#Step4: Calculate the measures of central tendency
print("The mean of amount is:" , round(df.Amount.mean(), 2))       #Upto 2 places of decimal

print("The median of amount is:" , round(df.Amount.median()))

The mean of amount is: 189.78
The median of amount is: 95

In [6]:
#Step5: Calculate the measures of dispersion
print("The range of amount is:" , np.ptp(df.Amount, axis=0)) 

from scipy.stats import iqr
print("The Interquartile range is:", iqr(df.Amount, axis=0))

print("The standard deviation of amount is:" , round(np.std(df.Amount, axis=0)))

print("The variance of amount is:" , round(np.var(df.Amount, axis=0)))

The range of amount is: 15036.8
The Interquartile range is: 189.7
The standard deviation of amount is: 284
The variance of amount is: 80674

C:\Users\Prerna\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [6]:
#Step6: Calculate the measures of position
print("The 20th percentile of amount is:" , np.percentile(df.Amount, 20, axis=0))
print("The 25th percentile of amount is:" , np.percentile(df.Amount, 25, axis=0))
print("The 75th percentile of amount is:" , np.percentile(df.Amount, 75, axis=0))

print("The 3rd quartile of amount is:" , df.Amount.quantile(0.75))

The 20th percentile of amount is: 30.0
The 25th percentile of amount is: 38.0
The 75th percentile of amount is: 227.7
The 3rd quartile of amount is: 227.7

In [7]:
#Step6: Calculate the measures of position
print("The 20th percentile of amount is:" , np.percentile(df.Amount, 20, axis=0))
print("The 75th percentile of amount is:" , np.percentile(df.Amount, 75, axis=0))

print("The 3rd quartile of amount is:" , df.Amount.quantile(0.75))

from scipy.stats import zscore
print("The z-score of all values in amount is:" , zscore(df.Amount, axis=0))

The 20th percentile of amount is: 30.0
The 3rd quartile of amount is: 227.7
The z-score of all values in amount is: [ 3.27928664 -0.60303678 -0.10485163 ... -0.59296746 -0.49213338
 -0.56205533]